@font-face {
    font-family: 'Lucida';
    src: url('../fonts/LucidaSansUnicodeRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArialBoldItalic';
    src: url('../fonts/ArialBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

html {
    font-size: 10px;
    font-family: Arial, sans-serif;
    background: gray;
}

body {
}

#page {
    background: white;
    width: 1000px;
    min-width: 1000px;
    margin: 0 auto;
    padding: 1.4rem 0 0 0;
}

#container {
    margin: 0 4.5%;
}

#topline {
    margin: 3px 0 2px 7px;
    line-height: 2.3rem;
}

#telephone {
    float: left;
    letter-spacing: 0.05rem;
    font-size: 1.8rem;
    color: #5e696d;
    background: url("../img/telefon.png") no-repeat left 55%;
    padding: 0 0 0 2.5rem;
    margin: 0.4rem 1.4rem 0 0;
}

#login-form {
    position: relative;
    display: inline-block;
    height: 2.5rem;
    background: url("../img/login.png") no-repeat 1.4% center, linear-gradient(to bottom, #1f6787, #0c3357);
    font-family: Lucida, Arial, sans-serif;
    font-size: 1.1rem;
    border-left: 1px solid #d4dde3;
    border-top: 1px solid #a6c3cf;
    border-bottom: 1px solid #4e647a;
    box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    width: 49.5rem;
}

#auth-block {
    display: inline-block;
    position: absolute;
    width: 48rem;
    top: 0.1rem;
    left: 2.4rem;
    right: 0;
    line-height: 2rem;
}

#login-form input, button:focus {
    outline: none;
}

#login-form input {
    width: 10.8rem;
    margin: 0 0.5rem 0 0;
    padding: 0 0 0 0.3rem;
    border: 1px solid #d7d9da;
    box-shadow: 0 0 1px 1px #637787;
    border-radius: 1px;
    background: white;
    color: black;
    font-size: 1.09rem;
}

#login, #login-form span {
    margin: 0 0.1rem 0 0;
    padding: 0;
    border: none;
    background: rgba(0, 0, 0, 0);
    color: white;
    font-size: 1.09rem;
}

#registration {
    margin: 0 1.8rem 0 0;
    padding: 0;
    color: white;
    text-decoration: none;
    letter-spacing: -0.03rem;
}

#forgottenpassword {
    margin: 0 1rem 0 0;
    color: #bfbfbf;
    font-size: 1.2rem;
    letter-spacing: -0.01rem;
}

#navi-container {
    float: right;
    margin: 0 0.8rem 0 0;
}

#navi-button-container {
    display: inline-block;
    vertical-align: middle;
    width: 7.4rem;
    border: 1px solid #bdc4c7;
    border-radius: 10px;
    font-size: 1.2rem;
    box-shadow: 1px 1px 3px 0 #bdc4c7;
    background: white;
    height: 1.9rem;
    line-height: 1.8rem;
}

#navi-button-container a {
    color: #bdc4c7;
    text-decoration: none;
    padding: 0;
    border: none;
    background: rgba(0, 0, 0, 0);
}

#navi-button-home {
    float: left;
    margin-left: 8px;
}

#navi-middle-button-container {
    overflow: hidden;
}

#navi-button-tree {
    display: inline-block;
    text-align: center;
    width: 100%;
}

#navi-button-mail {
    float: right;
    margin-right: 11px;
}

#navi-form button:focus {
    outline: none;
}

#zazor {
    margin: 0 0 4px 0;
}

#menu-bar {
    background: linear-gradient(to bottom, rgba(80, 88, 96, 0.65) 0%, rgba(58, 64, 70, 0.68) 9%, rgba(21, 23, 25, 0.69) 11%, rgba(1, 1, 1, 1) 99%, rgba(1, 1, 1, 1) 100%);
    border: 1px solid #0d1642;
    border-radius: 4px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.75);
    line-height: 3.1rem;
}

#koshyk {
    float: right;
    width: 22.6rem;
    font-family: Arial, sans-serif;
    background: url("../img/koshik.png") no-repeat 0.2% 45%;
}

.text {
    color: #929b9f;
    font-size: 1.1rem;
}

.digit {
    display: inline-block;
    font-size: 1.2rem;
    color: #0d5a8f;
}

#goods-count-text {
    margin: 0 0 0 2.8rem;
    text-align: left;
}

#goods-count {
    width: 1.9rem;
    text-align: left;
}

#goods-cost {
    width: 5.7rem;
    text-align: right;
}

#menu {
    float: right;
    margin: 0 6.0rem 0 0;
    font-size: 1.4em;
    letter-spacing: -0.01rem;
    font-family: Lucida, Arial, sans-serif;
    color: #b1bcc0;
}

#menu ul {
}

#menu li {
    display: inline-block;
    padding: 0 1.0rem 0 1.0rem;
    line-height: 2.2rem;
    border: 1px solid transparent;
    border-radius: 1.5rem;
}

#menu li:hover {
    background: linear-gradient(to bottom, #1f6787, #0d3458);
    border: 1px solid #0c3357;
    box-shadow: 0 1px 0 0 #092036;
}

/*filter-form-container*/
#filter-form-container {
    margin: 1.3rem 0.5rem 1.8rem 0.4rem;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    height: 13.3rem;
}

#filter-form-container form {
    position: relative;
    border: 1px solid #b0b0b1;
    border-radius: 19px;
    box-shadow: 2px 4px 4px 0 #b0b0b1;
}

#filter-form-container label {
    vertical-align: middle;
    font-size: 1rem;
    color: black;
}

.dropdown-block {
    height: 2.2rem;
}

.dropdown-block select {
    border: none;
    font-family: Arial, sans-serif;
    font-size: 1.1rem;
    vertical-align: middle;
    border-top: 2px solid #a9a9a9;
    border-left: 2px solid #a9a9a9;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../img/chekbox-button.png") no-repeat right;
    outline: none;
    padding: 0 0 0 0.2rem;
}

.dropdown-block label {
    display: inline-block;
    line-height: 0.8rem;
    letter-spacing: 0.02rem;
}

.dropdown-block label span {
    font-size: 0.8rem;
    color: #77858b;
    letter-spacing: 0.11rem;
}

/*find-po-avto*/
#find-po-avto {
    flex-shrink: 0;
    margin: 0 0 0 0;
    width: 41.3rem;
}

#find-po-avto .header {
    padding: 0.0rem 0.8rem 0.1rem 0.5rem;
    letter-spacing: 0.15rem;
    font-weight: bolder;
    font-size: 1.2rem;
    color: #154468;
    text-align: center;
}

#find-po-avto-filter-block {
    margin: -2rem 0 0 0;
}

/*find-po-avto-disk-side*/
#find-po-avto-disk-side {
    float: left;
    width: 18rem;
    margin: 0.1rem 0 0 1.6rem;
}

#find-po-avto-disk-side .header {
    padding: 0 0 0.1rem 0.1rem;
    letter-spacing: 0.12rem;
    font-size: 1rem;
    text-align: left;
    margin: 0.9rem 0 0.5rem 0.4rem;
}

#find-po-avto-disk-side label {
    width: 7.4rem;
}

#find-po-avto-disk-side .dropdown-block:nth-child(2) label {
    margin: 0.4rem 0 0 0;
}

#find-po-avto-disk-side .dropdown-block:nth-child(4) label {
    margin: 0.1rem 0 0 0.1rem;
}

#find-po-avto-disk-side .dropdown-block:nth-child(5) label {
    margin: 0.3rem 0 0 0;
}

#disk-marka-avto,
#disk-model-avto,
#disk-complectaciya {
    width: 10.3rem;
}

#disk-god-vipuska {
    margin: -0.1rem 0 0 -0.1rem;
    width: 5.9rem;
}

/*find-po-avto-tire-side*/
#find-po-avto-tire-side {
    float: right;
    width: 18rem;
    margin: 0 1.2rem 0 0;
}

#find-po-avto-tire-side .header {
    padding: 0 0.6rem 0.1rem 0;
    letter-spacing: 0.12rem;
    font-size: 1rem;
    color: #154468;
    text-align: right;
    margin: 0.8rem 0 0.5rem 0;
}

#find-po-avto-tire-side label {
    margin: 0.1rem 0 0 0;
    width: 7.4rem;
}

#find-po-avto-tire-side .dropdown-block:nth-child(2) label {
    margin: 0.7rem 0 0 0;
}

#find-po-avto-tire-side .dropdown-block:nth-child(5) label {
    margin: 0.3rem 0 0 0;
}

#tire-marka-avto,
#tire-model-avto,
#tire-complectaciya {
    width: 10.3rem;
}

#tire-model-avto {
    margin: -0.1rem 0 0 0;
}

#tire-god-vipuska {
    margin: -0.1rem 0 0 0;
    width: 5.9rem;
}

#filter-form-container .submit {
    display: inline-block;
    position: absolute;
    bottom: 0.8rem;
    width: 100%;
    font-size: 1.4rem;
    color: #154467;
    font-style: italic;
    text-decoration: underline;
    border: none;
    background: transparent;
    text-align: right;
    padding-right: 2rem;
}

/*==*/
/*find-tire*/
#find-tire {
    flex-shrink: 0;
    margin: -0.1rem 0 0 1.1rem;
    width: 19.3rem;
}

#find-tire .header {
    margin: 0.2rem 0 0 1rem;
    font-size: 1.2rem;
    font-weight: bolder;
    letter-spacing: 0.14rem;
    color: #154468;
    text-align: left;
}

#find-tire-filter-block {
    margin: 0.6rem 0 0 1.2rem;
}

#find-tire-filter-block label {
    display: inline-block;
    margin: 0.8rem 0 0 0;
    width: 4.4rem;
}

#tire-size-1,
#tire-size-2 {
    margin: 1px 0 0 0;
    width: 5.4rem;
}

#separ {
    display: inline-block;
    font-size: 1.4rem;
    color: black;
    padding: 0 0.1rem;
    vertical-align: bottom;
}

#tire-radius {
    margin: 0.3rem 0 0 0;
    width: 4.7rem;
}

.dropdown-block #tire-radius-label {
    width: 4.2rem;
    text-align: right;
    margin-left: -0.0rem;
    margin-right: 0.2rem;
}

/*.checkbox-block ...*/
#tire-season .checkbox-block {
    height: 1.4rem;
}

#tire-season .checkbox-block input {
    display: none;
}

#tire-season .checkbox-block label {
    letter-spacing: 0.1rem;
    padding: 0 0 0 1.4rem;
    background: url("../img/checkbox-tire.png") no-repeat left center;
    margin: 0.6em 0 0 0;
}

#tire-season .checkbox-block input:checked + label {
    background: url("../img/checkbox-tire-checked.png") no-repeat left center;
}

/*....checkbox-block*/

#tire-season-label {
    display: inline-block;
    margin: 0.4rem 0 0 0.3rem;
    width: 3.9rem;
    vertical-align: top;
}

#tire-season {
    display: inline-block;
}

/*==*/
/*find-disk*/
#find-disk {
    flex-shrink: 0;
    margin: -0.2rem 0 0 0.5rem;
    width: 26.7rem;
}

#find-disk .header {
    margin: 0.3rem 0 0 1.14rem;
    font-size: 1.2rem;
    font-weight: bolder;
    letter-spacing: 0.2rem;
    color: #154468;
    text-align: left;
}

#find-disk-filter-block {
    margin: 0.5rem 0 0 0.9rem;
}

#find-disk-filter-block .dropdown-block label {
    font-family: Lucida, Arial, sans-serif;
    font-size: 1rem;
    width: 8.8rem;
    line-height: 0.9rem;
    letter-spacing: 0.09rem;
    margin-left: -0.2rem;
}

/*find-disk-left-side*/

#find-disk-left-side {
    float: left;
    width: 15.2rem;
    margin: 0 0 0 1rem;
}

#find-disk-left-side label span {
    font-size: 0.9rem;
    letter-spacing: 0.04rem;
}

#find-disk-left-side .dropdown-block:nth-child(1) label {
    margin-top: 0.2rem;
}

#find-disk-left-side .dropdown-block:nth-child(2) label {
    margin-top: -0.7rem;
}

#find-disk-left-side .dropdown-block:nth-child(3) label {
    margin-top: -0.4rem;
}

#find-disk-left-side .dropdown-block:nth-child(3) label span {
    line-height: 1rem;
}

#disk-diameter {
    width: 5.8rem;
}

#disk-place-diameter {
    margin-top: -0.1rem;
    width: 5.9rem;
}

#disk-hole-count {
    margin-top: 0.4rem;
    width: 5.1rem;
}

#find-disk-left-side .dropdown-block {
    margin: 0;
    height: 2.7rem;
}

/*find-disk-right-side*/

#find-disk-right-side {
    float: right;
    margin: -1.4rem 0 0 0;
    width: 8rem;
}

#disk-dco {
    margin: 0.4rem 0 0 0.2rem;
    width: 5.9rem;
}

#disk-dco-block {
    margin: -0.1rem 0 0.3rem 0;
    line-height: 0.8rem;
    height: 5.5rem;
}

#disk-dco-block p span {
    font-family: Lucida, Arial, sans-serif;
    line-height: 0.8rem;
    font-size: 0.8rem;
    letter-spacing: 0.07rem;
}

#disk-dco-block #disk-dco-label {
    margin: 0 0 0 0;
    letter-spacing: 0;
}

#disk-et {
    margin: 0.3rem 0 0 0.2rem;
    width: 5.9rem;
}

#disk-et-block #disk-et-label {
    margin: 0.2rem 0 0.1rem 0.1rem;
    letter-spacing: 0;
}

#disk-et-block #disk-et-label span {
    letter-spacing: 0.05rem;
}

#find-disk-splitter {
    float: left;
    margin: -1.6rem 0 0 0.6rem;
}

#find-disk-splitter img {
    /*display: inline-block;*/
    text-align: center;
}

/*content-container*/
#content-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    font-family: Lucida, Arial, sans-serif;
}

#content-container .header {
    line-height: 2.5rem;
    margin: 0 0 1.3rem 0;
    padding: 0 0 0 2.7rem;
    border: 1px solid #b0b0b1;
    border-radius: 1.4rem;
    box-shadow: 2px 2px 3px 0 #b0b0b1;
    vertical-align: middle;
    font-size: 1.273rem;
    color: #114165;
    background: url("../img/circle-with-page.png") no-repeat 2% 30%;
}

.sidebar-main-menu-item-container {
    position: relative;
    margin: 0 0 0 0;
}

.sidebar-main-menu-item-facade {
    position: absolute;
    top: 0;
    left: 0.2rem;
    width: 10.9rem;
    line-height: 2.6rem;
    padding: 0 1rem 0 3rem;
    border: 1px solid #b0b0b1;
    border-radius: 1.2rem;
    font-size: 1.4rem;
    color: #114165;
    background: url("../img/circle.png") no-repeat 4% 37%;
    z-index: 0;
}

.sidebar-main-menu-item {
    position: relative; /* для z-index: 1*/
    float: left;
    top: 0;
    left: 0;
    min-width: 12rem;
    z-index: 1;
}

/*katalog-sidebar*/
#katalog-sidebar {
    order: 1;
    flex-basis: 18.4rem;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 1px 0 0 -2px;
}

.submenu {
    margin: 2.8rem 0 1.3rem 0;
    height: 0;
    visibility: hidden;
}

/*.sidebar-main-menu-item:hover .submenu,*/
.sidebar-main-menu-item[active] .submenu {
    margin: 2.5rem 0 0 0;
    height: 100%;
    visibility: visible;
}

.sidebar-submenu-item {
    background: url("../img/circle-menu-marker.png") no-repeat left center;
    /*list-style-image: url("../img/circle-menu-marker.png");*/
    padding: 0 0 0 1rem;
    margin: 0 0 0 2.6rem;
}

.sidebar-submenu-item a {
    font-size: 1.273rem;
    line-height: 2.6rem;
    color: #465961;
    text-decoration: none;
}

#katalog-sidebar .sidebar-submenu-item a:hover,
#katalog-sidebar .sidebar-submenu-item.active a {
    font-family: ArialBoldItalic, Arial, sans-serif;
    font-size: 1.4rem;
    color: #0c3256;
    text-decoration: underline;
}

/*brand-sidebar*/
#brand-sidebar {
    margin: -0.1rem 0 0 0;
    order: 3;
    flex-basis: 18.5rem;
    flex-grow: 0;
    flex-shrink: 0;
}

#brand-sidebar .header {
    font-size: 1.4rem;
    padding: 0 0 0 3.1rem;
}

#brand-sidebar .sidebar-main-menu-item-facade {
    margin-left: 1.5rem;
    width: 9.6rem
}

.sidebar-main-menu-item {
    margin: 0.1rem 0 -0.2rem 1.2rem;
}

.checked-submenu {
    margin: 2.8rem 0 1.3rem 0;
    height: 0;
    visibility: hidden;
}

/*.sidebar-main-menu-item:hover .checked-submenu,*/
.sidebar-main-menu-item[active] .checked-submenu {
    height: 100%;
    visibility: visible;
}

.sidebar-checked-submenu-item {
    margin-left: 1.4rem;
    font-size: 1.273rem;
    color: #465961;
    height: 2.45rem;
}

.sidebar-checked-submenu-item input {
    display: none;
}

.sidebar-checked-submenu-item label {
    line-height: 3rem;
    padding: 0 0 0 2.4rem;
    letter-spacing: 0.01rem;
    background: url("../img/checkbox.png") no-repeat left center;
}

.sidebar-checked-submenu-item input:checked + label {
    background: url("../img/checkbox-checked.png") no-repeat left center;
}

#submit {
    margin: 0.8rem 0 0 2.5rem;
    background: linear-gradient(to bottom, #1f6787, #0c3357);
    border-radius: 1.1rem;
    border: 1px solid #697b8b;
    height: 2.6rem;
    width: 8.2rem;
    font-size: 1.1rem;
    color: #e5e9ea;
    box-shadow: 1px 2px 4px 0 #bec0c1, 0 -1px 0 0 #dcdddf;
    outline: none;
}

/*goods-sidebar*/
#goods-sidebar {
    order: 2;
    margin: -3px 8px -2px 9px;
    padding: 5px 23px 14px 23px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    background: linear-gradient(to bottom, #e5e7e8, #93a7b0);
}

.goods-item {
    font-family: Lucida, Arial, sans-serif;
    width: 138px;
    margin: 10px 0 17px 0;
}

.goods-item figcaption p:nth-child(1) {
    font-size: 1.459rem;
    color: #206988;
    text-align: center;
}

.goods-item figcaption p:nth-child(2) {
    font-size: 1.277rem;
    color: #1f2528;
    text-align: center;
}

.goods-item-field {
    position: relative;
    margin: 0.3rem 0 0.2rem 0;
    height: 127px;
    background: white;
    border: 1px solid #a7b1b4;
    border-radius: 10px;
}

.goods-item-field img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.goods-item-price {
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    font-style: italic;
    color: #114165;
    text-align: center;
}

/*brand-logos*/
#brand-logos {
    height: 92px;
    overflow: auto;
}

#brand-logos-container {
    padding-top: 8px;
    text-align: center;
    vertical-align: middle;
}

#brand-logos-container img {
    margin: 31px 2px 0 10px;
    vertical-align: middle;
}

/*footer*/
footer {
    background: #213a4d;
    height: 100px;
    border: 1px solid #232d3f;
    border-bottom: none;
    box-shadow: 0 -1px 0 0 #d3d4d8;
}

footer > a {
    display: block;
    margin-top: 1.6rem;
    text-align: center;
    color: #7f4740;
    font-size: 1rem;
    text-decoration: none;
}

#footer-menu {
    text-align: center;
    margin-top: 1.1rem;
    font-size: 1.2rem;
    color: #bec6c9;
}

#footer-menu a {
    color: #bec6c9;
    text-decoration: none;
    padding: 0.9rem;
}

#footer-menu a:first-child {
    color: #52abcb;
}
