html {
    background: url(../img/background.png);
}

body {
    font-family: Tahoma, sans-serif;
}

/*вертикальное размещение ... */
#container {
    display: flex;
    flex-flow: column;
}

#page {
    width: 70.2%;
    height: 100%;
    background: white;
    margin: auto;
    box-shadow: 0 3px 10px 1px #383636;
    min-width: 917px;
}

footer {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    text-align: center;
    color: white;
    font-size: 12px;
    width: 100%;
}

/*... вертикальное размещение*/

/*HEADER*/
#logo {
    float: left;
    margin-top: 1.1%;
    margin-left: 2.8%;
}

#contacts-items {
    float: right;
    font-size: 12px;
    padding: 0;
    line-height: 19px;
    margin-top: 0.5%;
    margin-right: 3.3%;
    color: #128aa7;
}

#contacts-items p:first-child {
    font-weight: bold;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

/*countries*/

#country-menu-buttons {
    margin-top: -6.4%;
    margin-right: 2.95%;
    height: 100%;
    float: right;
}

#country-menu-buttons a {
    text-align: center;
    font-size: 10px;
    color: #128aa7;
    float: left;
    width: 56px;
}

#country-menu-buttons a img {
    width: 42px;
    height: auto;
    margin: 0 auto;
}

/*CONTENT*/

#content {
    font-size: 14px;
}

/*photo*/

#foto {
    background: url(../img/photo.png);
    height: 237px;
}

/*central-panel (menu)*/

#central-panel-items {
    position: relative;
    background: linear-gradient(to bottom, #373737, #303030);
    border-top: 1px solid #cacbcb;
    border-bottom: 1px solid black;
    box-shadow: 0 2px 4px 0 #4f4f50;
}

#central-panel-items a {
    float: left;
    text-decoration: none;
    color: white;
    margin-right: 6%;
    line-height: 28px;
    position: relative;
}

#central-panel-items a:first-child {
    margin-left: 6.7%;
}

#central-panel-items a:last-child {
    margin-right: 0;
}

#central-panel-items a img {
    margin-left: 3px;
}

/*.central-panel-dropdown-menu*/
#central-panel-items ul {
    position: absolute;
    left: -9999px;
    width: 150px;
    background: #303030;
    color: white;
    border: 1px solid #575757;
    box-shadow: 0 4px 4px 1px #4f4f50;
    margin-top: 1px;
}

#central-panel-items ul li {
    padding: 5px 10px;
    line-height: 14px;
}

#central-panel-items a:hover ul {
    left: -10px;
}

#central-panel-items a:hover ul:hover {
    left: -10px;
}

#central-panel-items a ul li:hover {
    background: #4d4d4d;
}

/*columns area*/

#blocks-panel {
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    justify-content: space-between;
    align-items: stretch;
}

.blocks-panel-column {
    line-height: 24px;
    color: #424c43;
}

.column-segment {
    padding: 0.7% 7%;
    border-bottom: 1px solid #c7cacf;
}

#left-column {
    flex: 21;
    background: #edeef0;
    border-right: 1px solid #c7cacf;
}

#center-column {
    background: #fffdfd;
    flex: 58;
    padding: 1%;
    min-height: 35vh; //если короткий контент, то подвал все равно должны прижать
}

#right-column {
    flex: 21;
    background: #edeef0;
    border-left: 1px solid #c7cacf;
    border-bottom: 1px solid #c7cacf;
}

.column-title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-top: 3%;
    margin-bottom: 0.8%;
}


