@font-face {
    font-family: 'helvetica_neueregular';
    src: url('../fonts/helveticaneue-thin-webfont.eot');
    src: url('../fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
    url('../fonts/helveticaneue-thin-webfont.woff') format('woff'),
    url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

html {
    background: rgba(255, 255, 255, 0);
    font-family: Helvetica_neue, Tahoma, sans-serif;
}

#page {
    position: absolute;
    left: 0;
    top:0;
    right: 0;
    bottom:0;
    width: 84.4%;
    /*width: 1215px; !*acording to etalon*! */
    overflow: hidden;
    margin: auto;
    min-width: 760px;
}

/*
!*if we want the image would be scalable*!
#rest-backgroud {
    width: 100%;
    margin: auto;
}*/

/*top menu*/

#top-menu-container {
    width: 100%;
    background: url(../img/top-background.png);
    font-size: 14px;
}

#top-menu-container li {
    float: right;
    line-height: 34px;
}

/*top menu - left part*/
#main-menu > li a {
    display: block;
    /*padding: 0 15px;*/
    height: 35px;
    text-align: center;
    color: #60b5ed;
    text-decoration: none;
}

#main-menu > li a:hover {
    background: #4eabda;
    color: white;
    font-weight: bold;
}

/*top menu - splitter between left and right parts*/
#top-menu-vertical-splitter {
    float: right;
    margin: 1px 4px 0 3px;
}

/*top menu - right part*/
#menu > li a {
    display: block;
    padding: 0 17px;
    height: 35px;
    text-align: center;
    color: white;
    text-decoration: none;
}

#flag {
    vertical-align: middle;
    margin: -5px 15px 0 0;

}

#menu > li:first-child {
    margin-right: 20px;
}

#menu > li a:hover {
    background: linear-gradient(to bottom, #51b1dc, #2e7ac4);
    border: 1px solid transparent;
    border-top: 0;
    border-image: linear-gradient(to bottom, #64a8e3, #4299d2) 1;
    text-decoration: none;
    padding-left: 16px;
    padding-right: 16px;
    height: 34px;
}

#menu > li a:hover span {
    border-bottom: 2px solid #9ac2e4;
}

/*modal window for dialog form*/
#reg-dialog {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: -9999px;
    background: rgba(0, 0, 0, 0);
    z-index: 99998;
    opacity: 0;
}

#reg-dialog:target {
    left: 0;
    opacity: 1;
}

.reg-form {
    width: 560px;
    /*margin-left: 457px; !*for adjustment with etalon*!*/
    margin-left: auto;
    margin-right: auto;
}

#reg-form-title {
    background: rgba(0, 0, 0, 0.5);
    line-height: 62px;
    text-align: center;
    /*margin-top: 248px; !*for adjustment with etalon*!*/
    margin-top: 90px;
    margin-bottom: 2px;
    color: white;
    font-size: 24px;
}

#reg-form-body {
    height: 549px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 14px;
}

#gap {
    /*for elimination of margin collapse with underlying button (first input tag)*/
    visibility: hidden;
}

#reg-facebook {
    width: 276px;
    margin: 22px auto 16px auto;
    height: 35px;
    background: url(../img/fbook.png) no-repeat;
}

#OU-block {
    /*margin-bottom must be not less then 8px to prevent marging collapse with margin-top of first next hovered input*/
    margin-bottom: 16px;
}

#OU-block > div {
    display: inline-block;
    width: 100%;
    line-height: 40px;
    text-align: center;
}

#OU {
    display: inline-block;
    color: #999999;
    padding: 0 4px;
    vertical-align: bottom;
    font-variant: small-caps;
    font-size: 18px;
}

.OU-line {
    vertical-align: middle;
}

.reg-input {
    display: block;
    border: none;
    width: 258px;
    padding-left: 18px;
    height: 36px;
    margin: 16px auto;
    background: url(../img/input.png) no-repeat;
    color: white;
}

.reg-input:hover {
    margin: -7.5px auto;
    width: 267px;
    padding-left: 27px;
    height: 51px;
    background: url(../img/selected-input.png) no-repeat;
}

.reg-input:focus {
    outline: none;
}

#send-tips-block {
    display: block;
    width: 282px;
    margin: 16px auto 20px auto;
    line-height: 13px;
}

#send-tips-block label {
    display: block;
    margin-left: 3px;
    padding-left: 16px;
    background: url(../img/checkbox.png) no-repeat;
    color: white;
}

#send-tips-block input {
    display: none;
}

#send-tips-block input:checked + label {
    background: url(../img/checkbox-checked.png) no-repeat;
}

#reg-submit {
    display: block;
    border: none;
    width: 151px;
    height: 37px;
    margin: 8px auto 16px auto;
    color: white;
    background: url(../img/submit.png);
}

#agreement-block {
    width: 100%;
    color: white;
    font-size: 11px;
    text-align: center;
    line-height: 16px;
}

/*modal window for squares*/
#squares {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: -9999px;
    background: rgba(0, 0, 0, 0);
    z-index: 99999;
    opacity: 0;
}

#squares:target {
    left: 0;
    opacity: 1;
}

#main-field {
    position: relative;
    width: 550px;
    height: 580px;
    margin: 100px auto;
    background: rgba(0, 0, 0, 0.5);
}

#close {
    position: absolute;
    top: -10px;
    right: -10px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    width: 24px;
    border-radius: 100%;
    line-height: 24px;
    text-align: center;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
}

#noise {
    opacity: 0.4;
}

#square-field, #noise {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 500px;
    height: 530px;
    margin: auto;
}

table {
    border-collapse: collapse;
}

table td {
    width: 500px;
    height: 50px;
    border: 10px solid #3f403a;
}

table tr:last-child td {
    height: 0;
    border: 0;
}

.white {
    background: white;
}

.yellow {
    background: #fff867;
}

.red {
    background: #ff6233;
}

.black {
    background: #1e1d1e;
}

.blue {
    background: #0b4c91;
}

#tip {
    position: absolute;
    top: 50px;
    right: 100px;
    opacity: 0.6;
}