@font-face {
    font-family: 'sociconregular';
    src: url('../font/socicon-webfont.woff2') format('woff2'),
    url('../font/socicon-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}