@media (max-width: 480px) {
    html {
        background: url("../img/background480.png") no-repeat 50% top;
    }

    .page {
        max-width: 480px;
        width: 100%;
        margin: auto;
        background-color: rgba(255, 255, 255, 0);
        padding-left: 0;
        padding-right: 0;
    }

    .menu-bar {
        content: "";
        margin: 66px 0 134px 0;
    }

    .menu-bar__logo {
        float: none;
        text-align: center;
        margin-bottom: 31px;
    }

    .menu-bar__right-aligned-top-menu {
        position: absolute;
        visibility: hidden;
        left: -99999px;
    }

    .menu-bar__left-aligned-top-menu {
        position: absolute;
        visibility: hidden;
        left: -99999px;
    }

    .menu-bar__center-aligned-top-menu {
        position: inherit;
        visibility: visible;
        left: 0;
        z-index: 1; /*bring all menu item with dropdown menu to top*/
    }

    .menu-bar {
        margin-bottom: -2px;
    }

    /*dropdown for top-menu*/
    .menu-bar__center-aligned-item--dropdown-container {
        position: relative;
    }

    .menu-bar__center-aligned-item-wrapper:hover .menu-bar__center-aligned-top-menu--dropdown {
        visibility: visible;
        left: -99px;
    }

    .menu-bar__center-aligned-items-list--dropdown {
        width: 100%;
        background: rgba(72, 59, 78, 0.9);
    }

    .menu-bar__center-aligned-item--dropdown:hover {
        background: rgba(43, 34, 49, 0.9);
    }

    .menu-bar__center-aligned-item--dropdown {
        display: block;
        height: 38px;
        line-height: 40px;
        vertical-align: middle;
        -webkit-box-shadow: 0 1px 0 0 #36283e,
        0 2px 0 0 #523e5a,
        -1px 0 0 0 #3c2f44,
        -2px 0 0 0 #101a20;
        -moz-box-shadow: 0 1px 0 0 #36283e,
        0 2px 0 0 #523e5a,
        -1px 0 0 0 #3c2f44,
        -2px 0 0 0 #101a20;
        -o-box-shadow: 0 1px 0 0 #36283e,
        0 2px 0 0 #523e5a,
        -1px 0 0 0 #3c2f44,
        -2px 0 0 0 #101a20;
        box-shadow: 0 1px 0 0 #36283e,
        0 2px 0 0 #523e5a,
        -1px 0 0 0 #3c2f44,
        -2px 0 0 0 #101a20;
    }

    .empty-item {
        background: rgba(72, 59, 78, 0.5);
        height: 46px;
        -webkit-box-shadow: 0 1px 0 0 #36283e,
        0 2px 0 0 #523e5a;
        -moz-box-shadow: 0 1px 0 0 #36283e,
        0 2px 0 0 #523e5a;
        -o-box-shadow: 0 1px 0 0 #36283e,
        0 2px 0 0 #523e5a;
        box-shadow: 0 1px 0 0 #36283e,
        0 2px 0 0 #523e5a;
    }

    .menu-bar__center-aligned-top-menu--dropdown {
        position: absolute;
        top: -23px;
        width: 244px;
        z-index: -1; /*shift dropdown menu to back relative to "HOME"-menu item*/
        margin: 10px 0 10px 0;
        visibility: hidden;
        left: -99999px;
    }

    .shaper {
        overflow: hidden;
        width: 100%;
        border: 1px solid #3c2f44;
        -webkit-box-shadow: -1px -1px 0 0 #0f191f,
        -1px 1px 0 0 #0f191f,
        1px -1px 0 0 #0f191f,
        1px 1px 0 0 #0f191f;
        -moz-box-shadow: -1px -1px 0 0 #0f191f,
        -1px 1px 0 0 #0f191f,
        1px -1px 0 0 #0f191f,
        1px 1px 0 0 #0f191f;
        -o-box-shadow: -1px -1px 0 0 #0f191f,
        -1px 1px 0 0 #0f191f,
        1px -1px 0 0 #0f191f,
        1px 1px 0 0 #0f191f;
        box-shadow: -1px -1px 0 0 #0f191f,
        -1px 1px 0 0 #0f191f,
        1px -1px 0 0 #0f191f,
        1px 1px 0 0 #0f191f;
        border-radius: 9px;
    }

    /*carousel redraw*/
    .carousel {
        left: 0;
        width: 88%;
        padding: 0 6%;
    }

    .carousel__outer-padding {
        height: 246px;
        left: 0;
        width: 100%;
    }

    .carousel__left-arrow-container {
        width: 6%;
    }

    .carousel__right-arrow-container {
        width: 6%;
    }

    .carousel__strip {
        height: 246px;
    }

    .carousel__slide-place {
        margin-bottom: 0;
    }

    .carousel__slide-block {
        height: 311px; /*311 = 290 (img height)+30 (.carousel__slide-block margin-top: -30px) - 8 (#phone-img-* margin: -9px)*/
    }

    .carousel__text-side {
        width: 51%;
        max-width: 243px; /*maket 202+margin-left: 41px;*/
        line-height: 246px; /*for vertical-align: middle; of text-container*/
    }

    .carousel__text-container {
        margin-left: 5%;
    }

    .carousel__text-container h1 {
        font-size: 3.6rem;
        margin-top: -5px;
        margin-bottom: -3px;
        letter-spacing: -0.04rem;
    }

    .carousel__text-container h2 {
        font-size: 1.8rem;
        letter-spacing: -0.01rem;
        margin: 0 0 0.4rem 0;
        white-space: nowrap;
    }

    .carousel__text-container .text-body {
        position: absolute;
        visibility: hidden;
        left: -99999px;
    }

    .carousel__img-side {
        width: 47%;
    }

    #phone-img-1,
    #phone-img-2,
    #phone-img-3,
    #phone-img-4 {
        right: 3.0%;
        margin: -9px 0 0 0;
    }

    #play-img-1,
    #play-img-2,
    #play-img-3,
    #play-img-4 {
        top: 35.7%;
        left: 22.0%;
    }

    #phone-img-1 img,
    #phone-img-2 img,
    #phone-img-3 img,
    #phone-img-4 img {
        max-height: 290px;
        width: 100%;
        max-width: 187px
    }

    #play-img-1 img,
    #play-img-2 img,
    #play-img-3 img,
    #play-img-4 img {
        height: 53px;
        width: auto;
    }

    .carousel__navi-block {
        width: 98%;
        margin-top: -14px;
    }

    .carousel__navi-label {
        margin-left: 2px;
    }

    /*blurb*/
    .page-header {
        margin: 0 0 138px 0;
    }

    .blurb-container {
        flex-wrap: wrap;
        height: auto;

        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .blurb-block {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        height: 130px;
        margin-bottom: 26px;
    }

    .blurb-block__left-side {
        width: 10%;
    }

    .blurb-block__icon {
        margin-top: 6px;
    }

    .blurb-block__right-side {
        width: 86.5%;
    }

    .blurb-block__header {
        font-size: 2.4rem;
        margin-bottom: 0.2rem;
        margin-left: 0;
    }

    .blurb-block__body {
        letter-spacing: 0;
        height: 70px;
        margin-left: 0;
    }

    /*testimonials redraw*/
    .sub-header {
        margin: 0 0 20px 0;
    }

    .testimonials {
        width: 100%;
        margin-bottom: 49px;
        margin-left: 0;
    }

    .carousel--testimonials {
        width: 100%;
        padding: 0 0;
    }

    .carousel__text-container--testimonials {
        margin-left: 18px;
        padding: 0 1.3rem 0 63px;
        z-index: 0;
        line-height: 1.5;
    }

    .carousel__text-container--testimonials h1 {
        font-size: 3rem;
        margin-top: 20px;
        width: 100%;
        line-height: 1.6;
        margin-bottom: 7px;
        letter-spacing: -0.01rem;
    }

    .carousel__text-container--testimonials span {
        font-size: 3rem;
        letter-spacing: 0.02rem;
    }

    .carousel__text-container--testimonials .text-body {
        position: inherit;
        visibility: visible;
        left: 0;
    }

    .carousel__text-container--testimonials .baloon {
        width: 90%;
        left: 0;
    }

    .carousel__slide-place--testimonials {
        margin: 0 0 15px 0;
    }

    .carousel__navi-block--testimonials {
        width: 100%;
        margin: 0 0 0 0;
    }

    /*from-blog redraw*/
    .from-blog {
        width: 100%;
    }

    .blurb-block--from-blog {
        height: 100%;
        padding-top: 0;
    }

    .blurb-block__header--from-blog {
        font-size: 3rem;
        margin-top: 1px;
        margin-bottom: 0.7rem;
    }

    .blurb-block__list-body {
        margin: 0 0 19px 0;
    }

    .blurb-block__footer--from-blog {
        visibility: hidden;
    }

    .blurb-block__footer--from-blog-768 {
        visibility: visible;
        left: 0;
        margin-right: 32px;
        color: #454545;
        text-shadow: none;
        letter-spacing: -0.01rem;
        font-size: 1.8rem;
    }

    .blurb-block__list-item {
        overflow: hidden;
    }

    .blurb-block__list-item-text-block-inner {
        white-space: nowrap;
    }

    main {
        padding: 100px 0 126px 0;
    }

    /*trade-marks redraw*/
    .trade-mark-list {
        margin-left: 50px;
        margin-right: 50px;

        /*margin-bottom: 154px;*/
        margin-bottom: 16px;
        height: 100%;
    }

    .trade-mark-list-item {
        margin: 0 20px 25px 20px;
    }

    /*footer redraw*/
     footer {
         background: rgba(236, 236, 236, 1);
     }

    .blurb-container--footer-768 {
        position: inherit;
        visibility: visible;
        left: 0;

        margin-left: 0;
        width: 100%;

        padding-top: 80px;
        bottom: 0;
    }

    .blurb-container--footer {
        position: absolute;
        visibility: hidden;
        left: -99999px;
    }

    .blurb-block--footer {
        margin-left: 18px;
        margin-right: 18px;
        width: 100%;
        height: 159px;
        margin-bottom: 26px;
    }

    .blurb-block__right-side--footer {
        width: 100%;
    }

    .blurb-block__header--footer {
        margin-left: -2px;
        margin-bottom: 9px;
        font-size: 2.4rem;
        letter-spacing: 0.02rem;
    }

    .blurb-block__body--footer {
        height: 140px;
    }

    /*bottom-menu redraw*/
    .bottom-menu-bar {
        /*margin: 80px 0 86px 0;*/

        margin: 33px 0 0 0;
        height: 155px;
        padding-top: 47px;
        background: url("../img/background480-bottom.png") no-repeat 50% top;
    }

    .center-aligner {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        width: 91%;
    }

    .bottom-menu-bar__bottom-menu {
        left: 0;
        width: 100%;
    }

    .bottom-menu-bar__item {
        /*margin-right: 2.90%;*/
        margin-right: 3.7%;
        letter-spacing: -0.01rem;
    }

    .bottom-menu-bar__item:last-child {
        margin-right: 0;
    }

    .designed-sighn {
        width: 100%;
        margin-top: 56px;
        margin-right: 0;
        text-align: center;
        letter-spacing: 0.05rem;
    }

}
