.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

html {
    background: url("../img/background960.png") no-repeat 50% top;
    font-size: 10px;
}

.page {
    max-width: 960px;
    width: 100%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0);
    /*border: 1px solid red;*/
    /*box-sizing: border-box;*/
}

/*MAIN*/

.page-header{
    margin: 0 0 137px 0;
}

.menu-bar__left-aligned-top-menu{
    position: absolute;
    visibility: hidden;
}

.menu-bar__center-aligned-top-menu{
    position: absolute;
    visibility: hidden;
}

.sub-header{
    margin: 0 0 69px 0;
}

main {
    padding: 100px 0 73px 0;
    /*border: 1px solid red;*/
    /*box-sizing: border-box;*/
}
.testimonials{
    float: left;
    width: 47%;
    /*border: 1px solid green;*/
    /*box-sizing: border-box;*/
}
/*FROM-BLOG*/
.from-blog{
    float: right;
    width: 47.0%;
    /*border: 1px solid magenta;*/
    /*box-sizing: border-box;*/
}

/*TRADE-MARKS*/
.trade-mark-list{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 64px 97px 64px;
    height: 122px;

}
.trade-mark-list-item{
    flex-shrink: 0;
    margin: auto;
}